body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0094e3, #7ab6d6);
  color: #333;
  text-align: center;
}

header {
  background: linear-gradient(to bottom, #ffffff, #0094e3);
  color: #fff;
  padding: 20px;
  border-bottom: 5px solid white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

thead {
  background-color: #333;
  color: #fff;
}

.highlight {
  background-color: yellow;
}

tr,
td {
  border: 1px black solid;
}

footer {
  border-top: 5px solid white;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #ffffff, #0094e3);
  color: #fff;
  padding: 0px;
}

button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #d6d6d6;
  transform: scale(1.1);
}

.centerform {
  margin-top: 15%;
}
