body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0094e3, #7ab6d6);
  color: #333;
  text-align: center;
}

header {
  background: linear-gradient(to bottom, #ffffff, #0094e3);
  color: #fff;
  padding: 20px;
  border-bottom: 5px solid white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

thead {
  background-color: #333;
  color: #fff;
}

.highlight {
  background-color: yellow;
}

tr,
td {
  border: 1px black solid;
}

body.dark-mode {
  background: #121212;
  color: #ffffff;
}

body.dark-mode header {
  background: linear-gradient(to bottom, #121212, #333333);
  color: #ffffff;
  border-bottom: 5px solid #222;
}

body.dark-mode nav ul li a {
  color: #bb86fc;
}

body.dark-mode main {
  background: #121212;
  color: #ffffff;
}

body.dark-mode table {
  border: 1px #444 solid;
}

body.dark-mode thead {
  background-color: #444;
  color: #ffffff;
}

body.dark-mode tr,
body.dark-mode td {
  border: 1px #444 solid;
}

body.dark-mode .highlight {
  background-color: #444444;
}

body.dark-mode footer {
  background: linear-gradient(to top, #121212, #333333);
  color: #ffffff;
  border-top: 5px solid #222;
}

button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #d6d6d6;
  transform: scale(1.1);
}

body.dark-mode button {
  background-color: #333;
  color: #ffffff;
}

body.dark-mode button:hover {
  background-color: #444;
}

.centerform {
  margin-top: 15%;
}
